<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div>
        <div class="bg">

            <div class="logo">
                CKS
            </div>
            <div class="log">
                <div class="dengzhu">
                    <a href="#">登录</a>
                </div>
                <div class="dengzhu">
                    <a href="#">注册</a>
                </div>
                <div class=reg_form>


                    <p>账户:</p>
                    <input type="text" placeholder="用户名/手机号/邮箱">
                    <br>

                    <p>密码:</p>
                    <input type="text" placeholder="请输入密码">

                    <!-- <input type="checkbox" class="check"> -->
                    <div class="logbutton">
                        <a href="userspace.html" target="_self"><button>登 录</button></a>
                    </div>


                    <!-- </ul> -->
                </div>
            </div>
            </li>
        </div>
    </div>

</body>

</html>