<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情展示界面</title>
    <link rel="stylesheet" href={% static "passage.css" %}>
    <link rel="stylesheet" href={% static "style.css" %}>
    <!-- <link rel="stylesheet" href={% static "vue.css" %}> -->
    <script type="text/javascript" src={% static "js/jquery.min.js" %}></script>
    <script type="text/javascript" src={% static "js/showdown.min.js" %}></script>
</head>

<body>
    <div class="header">

        <div class="logo">
            <img src={% static "pictures/Logo-4.jpg" %}>
        </div>

        <div class="search">
            <form>
                <input type="search" placeholder="搜索">
            </form>
        </div>

        <div class="sosuo">
            <button class="button">
                搜索
            </button>
        </div>

        <div class="touxiang">
            <a href="/user/{{ xh }}"><img src={% static mainhead %}></a>
        </div>

    </div>

    <div style="width: 100%; height: 3px; background-color: rgb(120, 147, 221); position:relative; top: 0px;">
    </div>


    <div class="body">

        <div class="leftpage">

            <p class="biaotizi">{{ntitle}}</p><br/>
            
            <table>
                <tr style="color: rgba(159, 167, 159, 0.863);">

                    <td style="width: 600px; color: rgba(86, 116, 86, 0.863);">
                        <p>时间：2020.3.24</p>
                    </td>

                    <td style="width: 200px;">
                        <p>阅读量：{{nread}}</p>
                    </td>
                </tr>
            </table>

            <div class="splitline"></div>

            
            <div id="content"></div>
            <script type="text/javascript">
                $(function() {
         
                    var converter = new showdown.Converter();
                    var text = '{{ncontent|safe}}',
                    html = converter.makeHtml(text);
                    // alert(text);
                    $("#content").append(html);
                });
            </script>

            <table id="dibudianzan">
                <tr>
                    <td style="width: 500px; "></td>
                    <td style="width: 100px; ">
                        <a><img src={% static "pictures/share.svg" %} class="littletubiao "></a>
                        <p style="font-size: 12px; color: grey; ">分享</p>
                    </td>

                    <td style="width: 100px; ">
                        <a><img src={% static "pictures/like.svg" %} class="littletubiao "></a>
                        <p style="font-size: 12px; color: grey; ">赞</p>
                    </td>

                    <td style="width: 100px; ">
                        <a><img src={% static "pictures/speech.svg" %} class="littletubiao "></a>
                        <p style="font-size: 12px; color: grey; ">评论</p>
                    </td>
                </tr>   
            </table>
               
            <div class="splitline"></div>

            <div>
                <p class="title">留言评论</p>
                <br>
            </div>

            <div style="width:100%; height: 80px; float: left;">
                <form>
                    <div style="width: 40px; height: 80px; float: left;">
                    <img src={% static mainhead %} class="bigtubiao">
                    </div>

                    <div style="width: 679px; height: 71px; position: relative; left: 15px; float: left;">
                        <textarea cols="60" rows="3" id="writereview">留下你的观点与作者交流
                        </textarea>
                    </div>

                    <div style="float:left; height: 71px; position: relative; left: 15px; width: 20px; margin-left: 10px;">
                        <input type="submit" name="留言" id="submitreview">
                    </div>
                </form>
            </div>
        </div>


    <div class="rightpage ">
        <div class="rightpagetop ">
            <div class="rightpage1 ">
                <img src={% static nhead %} style="width: 60px; height: 60px;">
            </div>
        
            <div class="rightpage2 ">
	             <p style="height: 30px; font-size: 25px; "> 
	                作者：{{uname}}</p>
	            
	            <p style="height: 30px; font-size: 16px; ">
	                ID：{{uid2}}</p>
            
            </div>
        </div>
        <br>
        
        <div class="rightpagetop2 ">
            <table>
            <tr>
        
                <td style="width: 100px; text-align: center; ">
                    <p style="font-size: 30px; ">
                        {{num_psg}}
                        </p>
                        <p style="font-size: 16; ">
                            原创
                        </p>
                    </td>
                
                <td style="width: 100px; text-align: center; ">
                    <p style="font-size: 30px; ">
                        {{ngood}}
                    </p>
                    <p style="font-size: 16px; ">
                        获赞
                    </p>
                </td>
                <td style="width: 100px; text-align: center; ">
                    <p style="font-size: 30px; ">
                        {{num_re}}
                    </p>
                    <p style="font-size: 16px; ">
                        评论
                    </p>
                </td>
                <td style="width: 100px; text-align: center; ">
                    <p style="font-size: 30px; ">
                        {{num_read}}
                    </p>
                    <p style="font-size: 16px; ">
                        访问
                    </p>
                </td>

                </tr>
            </table>
        </div>

        <div class="splitline"></div>

        <div style="width: 10px; height: 25px; background-color: indianred; position: relative; left: 10px; top: 10px; "></div>

        <div style="width: 150px; height: 25px; font-size: 20px; position: relative; left: 25px;top: -18px; "><p>相关推荐文章</p>
    	</div> 

    <div style="position: relative; left: 30px;" class="recommend">
        {%for p in relatedpsg%}
            <li>
                <a href={{ p.nid }}>{{p.ntitle}}</a>
            </li>
        {%endfor%}
    </div>
</div>
    

</body>

</html>