<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="text.css">
</head>

<body>
    <div class="box">
        <div class="box_div" id="box_one">
            <a href="#box_one">新闻频道</a>
            <span></span>
            <p>1.乒乓球世锦赛即将召开<br/>2.我国运动员在世锦赛中表现突出<br/>3.北京市体育运动会召开<br/>4.北京市启动空气重污染橙色预警</p>
        </div>
        <div class="box_div" id="box_two">
            <a href="#box_two">体育频道</a>
            <span></span>
            <p>1.乒乓球世锦赛即将召开<br/>2.我国运动员在世锦赛中表现突出<br/>3.北京市体育运动会召开<br/>4.北京市启动空气重污染橙色预警</p>
        </div>
        <div class="box_div" id="box_three">
            <a href="#box_three">娱乐频道</a>
            <span></span>
            <p>1.乒乓球世锦赛即将召开<br/>2.我国运动员在世锦赛中表现突出<br/>3.北京市体育运动会召开<br/>4.北京市启动空气重污染橙色预警</p>
        </div>
        <div class="box_div" id="box_fore">
            <a href="#box_fore">影视频道</a>
            <span></span>
            <p>1.乒乓球世锦赛即将召开<br/>2.我国运动员在世锦赛中表现突出<br/>3.北京市体育运动会召开<br/>4.北京市启动空气重污染橙色预警</p>
        </div>
    </div>
</body>

</html>